.navbar {
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
  background-color: #111928b0 !important;
  color: white !important;
  z-index: 1;
  /* height: 56.5px; */
}

.remove-btn {
  background-color: transparent;
  border: 2px solid #888;
  border-radius: 1rem;
  color: #888;
  transition: 0.4s;
  margin: 2px;
}
.remove-btn:hover {
  border: 2px solid red;
  color: red;
}
.back-btn{
  width: 3.5rem;
  border-radius: 6rem;
}
.back-btn:hover {
  background: rgb(15, 86, 134);
  color: rgb(6, 255, 6);
}
