.navbar {
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
  background-color: #111928b0 !important;
  color: white !important;
  z-index: 1;
  height: 56.5px;
}

.icon-search {
  background-color: rgb(44, 163, 179);
  color: rgb(243, 243, 243);
  border-radius: 3px;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn {
  background-color: transparent;
  border: 2px solid #888;
  border-radius: 1rem;
  color: #888;
  transition: 0.4s;
  margin: 2px;
}
.remove-btn:hover {
  border: 2px solid red;
  color: red;
}
