.card-character{
    width: 35rem;
    margin: 1rem;
    background: rgb(15, 69, 77);
    color: white;
    border: 2px solid black;
    border-radius: 0 1rem 1rem 0;

}
.char-img {
    border-right : 2px solid black;
    width: 15rem;
    height: auto;
}