.title-section{
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
  background-color: #111928b0 !important;
    color: white !important;
    border-radius: 0.5rem;
    margin : 2rem auto;
    padding: 0.5rem;
    text-align: center;
    /* width: 60%; */
}
@media only screen and (max-width: 576px) {
.title-section{
margin: 2rem 2rem 2rem 7.5rem;
}
}