.navbar {
  justify-content: end !important;
    backdrop-filter: blur(10px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
    background-color: #111928b0 !important;
  color: white !important;
z-index: 0;
}
.navbar-logo {
  display: inline-block;
  align-items: top;
  width: 50px;
  margin: 0;
}
