#sidebar {
  position: fixed;
  /* width: 220px; */
  z-index: 1;
}
#sidebar .pro-sidebar {
  height: 100vh;
}
#sidebar .closemenu {
  color: rgb(253, 253, 253);
  z-index: 9999;
  font-weight: bold;
  font-size: 37.5px;
  cursor: pointer;
}
#sidebar .closemenu span {
  font-size: 20px;
  margin-right: 0.3rem;
}
#sidebar .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#sidebar .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#sidebar .pro-sidebar-inner {
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
  background-color: #111928b0 !important;
  color: white !important;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(255, 255, 255);
  margin: 10px 0px;

}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: rgb(44, 163, 179);
  color: rgb(243, 243, 243);
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color:transparent !important;
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
  padding: 8px 0px 8px 15px !important;
}
